 <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoperfil.jpg" id="fotoperfil" class="img-fluid">
        </div>
        <div class="xol-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Montivero Johanna Magali</p>
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <hr>
            <p>Estudiante de Kinesiología y fisiatría y amante de la programación.<br> 24 años y dos hobbies: hacer ejercicio y comer carbohidratos.<br>Tengo un perro que se llama Draco.</p>
            </span>
        </div>
     <hr>
</div>
