<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Operaria de Limpieza</h1> - <h3>(actual)</h3></li>
            <p> Limpieza de oficinas, hospitales, hoteles y otros
                establecimientos. </p>
        </ul>
        <ul>
            <li><h1>Cajera</h1> - <h3>(1 año)</h3></li>
            <p>Efectuar el cobro a los clientes de las distintas facturas, desempeñar tareas de administración y realizar apertura y cierre del establecimiento.</p>
        </ul>
    </div>
    <hr>
</div>