.row{
    padding-top: 8px;
} 
div{
    background-color: white;
    text-align: center;
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 65%;
}
/* medidas responsivas para la fotoperfil*/
@media(min-width:576px){
    #fotoperfil{
        border-radius: 50%;
        box-shadow: 3px 3px 3px gray;
    }

    .descripcion {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    }

@media(max-width:575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px gray;
        left: 33%;
        top: 950px;
    }
}