<div>
    <a href="https://www.linkedin.com/in/johanna-magali-montivero-3443901a7" target="_blank"> <img src="../../../assets/linkedin.png" alt="linkedin" id="linkedin"> </a>
    <a href="https://github.com/Cositofragil" target="_blank"> <img src="../../../assets/github.png" alt="github" id="github"> </a>
    <a href="https://es-la.facebook.com/cositofragil" target="_blank"> <img src="../../../assets/facebook.png" alt="facebook" id="facebook"> </a>
    <a href="https://www.instagram.com/cositofragil/?igshid=YmMyMTA2M2Y%3D" target="_blank"> <img src="../../../assets/instagram.png" alt="instagram" id="instagram"> </a>
    <a href="https://twitter.com/cositofragil" target="_blank"> <img src="../../../assets/twitter.png" alt="twitter" id="twitter"> </a>
</div>
